{% macro role_badge(role, href=None) %}
{% if role %}
  {% set color = role.color or 'gray' %}
  {% set icon  = role.icon  or 'fa-user' %}
  {% set permissions = 'You have all permissions' if role.admin else role.permission_keys() | join(' • ') %}
  
  {% if href %}
  <a href="{{ href }}" class="rb rb--{{ color }} custom-tooltip" data-tooltip="{{ permissions }}">
      <i class="fas {{ icon }}"></i>{{ role.name }}
  </a>
  {% else %}
  <span class="rb rb--{{ color }} custom-tooltip" data-tooltip="{{ permissions }}">
      <i class="fas {{ icon }}"></i>{{ role.name }}
  </span>
  {% endif %}
{% else %}
  <span class="rb rb--gray"><i class="fas fa-user"></i>No role</span>
{% endif %}
{% endmacro %}